/* @import url('http://fonts.cdnfonts.com/css/sofia-pro'); */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {
  background-color: #1d1d20;
  color: white;
  /* font-family: 'Sofia Pro', sans-serif; */
  font-family: 'Quicksand', sans-serif;
}

.jumbotron1 {
  font-size: 70px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  margin-top: -50px;
}

.jumbotron2 {
  font-size: 70px;
  font-weight: 600;
  opacity: 0.6;
  padding: 0px;
  margin: 0px;
  margin-top: -35px;
}

.slider {
  background-color: white;
  color: black;
  width: 100%;
  padding-top: 200px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px; 
  position: relative;
  overflow: hidden;
  padding-bottom: 300px;
}

.jumbotron3 {
  font-size: 70px;
  text-align: left;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  margin-top: -32px;
  opacity: 0.8;
}

.jumbotron4 {
  font-size: 25px;
  opacity: 0.7;
  /* font-family: sofia-pro-soft; */
  line-height: 2.6vw;
}

.featured-work {
  text-align: center;
  /* width: 70%; */
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.featured-work .text{
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 1500px) {
  .image {
    height: 580px;
    position: relative;
    display: block;
  }
}

@media (max-width: 1499px) and (min-width: 1200px) {
  .image {
    /* display: none; */
    height: 400px;
  }
}

@media (max-width: 1199px) {
  .image {
    display: none;
  }
}

.navbar-init {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 28px;
  transition-duration: 0.4s;
}

.navbar-init2 {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  transition-duration: 0.4s;
}

.navbar2 {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 16px;
  transition-duration: 0.4s;
}

.bg1 {
  background-color: #1d1d20;
  transition-duration: 0.4s;
}

.bg2 {
  background-color: white;
  transition-duration: 0.4s;
  padding-bottom: 15px;
  padding-top: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navbar {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 28px;
  background-color: white;
  transition-duration: 0.4s;
}

.clearcut {
  font-size: 28px;
  opacity: 0.8;
  color: #ccddef;
  vertical-align: center;
  padding-bottom: 20px;
  /* height: 20px; */
}

.right {
  position: absolute;
  right: 200px;
}

.button {
  border-radius: 7px;
  background-color: #cccccc;
  font-size: 14px;
  text-align: center;
  color: black;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  transition-duration: 0.5s;
}

.button:hover {
  transition-duration: 0.5s;
  background-color: turquoise;
  transform: scale(1.05,1.05);
  transform-style: preserve-3d;
  color: white;
}

.button:active {
  background-color: plum;
}

.card1 {
  height: 540px;
  width: 400px;
  overflow: hidden;
  border-radius: 15px;
  float: left;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 40px;
}

.im {
  height: 540px;
  transition-duration: 0.5s;
}

.im:hover {
  height: 550px;
  transition-duration: 0.5s;
}

.card2 {
  height: 320px;
  width: 580px;
  overflow: hidden;
  border-radius: 15px;
  float: right;
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: 40px;
}

.im1 {
  width: 580px;
  transition-duration: 0.5s;
}

.im1:hover {
  width: 590px;
  transition-duration: 0.5s;
}

.hl {
  position: absolute;
  top: 520px;
  left: 600px;
  text-align: left;
}

.zy {
  position: absolute;
  top: 650px;
  left: 30px;
  text-align: left;
}

.z {
  padding-top: 50px;
  text-align: left;
  margin-left: 20px;
}

.h {
  padding-top: 50px;
  text-align: left;
  margin-left: 20px;
  font-family: 'Quicksand', sans-serif;
}

.title {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  background-color: white;
}

.large {
  font-size: 100px;
  font-weight: 700;
  opacity: 0.8;
}

.main-form {
  font-size: 20px;
}

.name {
  font-weight: 500;
  font-size: 25px;
}

#filled-basic1 {
  width: 580px;
}

#filled-basic2 {
  width: 270px;
}

.done-button {
  float: right;
  font-size: 42px;
  color: #3244ce; 
  font-weight: 600;
  margin-right: 20%;
  background-color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.done-button:hover {
  color: plum; 
  transition-duration: 0.4s;
}

.messages {
  font-size: 18px;
}

.alt {
  vertical-align: middle;
  position: absolute;
  top: 35%;
  /* text-align: center; */
  left: 40%;
  /* transform: translate(  50%, -50%); */
  color: white;
  z-index: 1;
  font-size: 22px;
}

.title-sec {
  font-size: 64px;
  font-weight: 800;
  text-align: left;
  margin-left: 20%;
  font-family: sans-serif;
  margin-top: -20px;
}